/* src/App.css */
.App {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .App-header {
    background-color: #363636;
    padding: 10px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0%;
    top:0%;
    height: 50px;
    width: 100%;
  }
  
  h1 {
    margin: 0;
    width: 80px;
  }
  nav{
    height:60px;
    width:100%;
    float: right;
    margin-top:50px;
  }

  nav a {
    color:white;
    margin: 0 10px 10px 20px;
    text-decoration: none;
    
    float: right;

  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
  }
  @media (max-width: 800px) {
    nav {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 10px;
      width: 200px;
    }
  
    nav.open {
      height: max-content;
      background-color: #363636;
      display: flex;
      margin-top: 0px;
    }
  
    .hamburger {
      display: flex;
    }
  }

  .hero {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .hero-image {
    width: 100%;
    height: auto;
  }
  
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
  }
  .slider {
  }
   
  main {
    padding: 20px;
  }
  
  .news, .people, .publications {
    margin-bottom: 40px;
  }
  
  .news-items, .people, .publications {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .news-item, .person {
    background: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
    flex: 1 1 calc(33.333% - 40px); /* 3 columns layout */
    box-sizing: border-box;
  }
  

  footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
