.publication-contain{
    margin-top: 40px;
    max-width: 1000px; /* 최대 너비 */
    width: 100%; /* 작은 화면에서는 화면 크기에 맞춤 */
    margin: 0 auto;
    padding: 0 20px;
}

.publications {
  padding: 20px;
  background-color: #f9f9f9;
}


.publications2{
  padding: 20px;
  margin-top: 60px;
  background-color: #f9f9f9;
}
.publication-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.publication-item {
  padding: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.publication-content h3 {
  margin: 0;
  font-size: 1.25rem;
  color: #333;
}

.publication-content p {
  margin: 8px 0 0;
  color: #555;
  line-height: 1.5;
}

.publication-content a:hover {
  text-decoration: underline;
}

.read-more {
  color: #b0db8b; 
  text-decoration: none; /* 밑줄 제거 */
  font-weight: bold;  
}

.read-more:hover {
  color: #b0db8b; /* 호버 시 색상 */
  text-decoration: none; /* 호버 시 밑줄 */
  font-weight: bold;
}
